---
import { ClientRouter } from 'astro:transitions'
import BaseHead, { type Props as HeadProps } from '@components/layout/BaseHead.astro'
import Header from '@components/layout/Header.astro'
import Footer from '@components/layout/Footer.astro'

export type Props = HeadProps

const { ...head } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead {...head} />
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col bg-white font-sans">
    <Header />
    <main class="mt-16"><slot /></main>
    <Footer />
  </body>
</html>
